<% include partials/header%>

<!-- SELECTED GAME PAGE -->

<h2>Game Details:</h2>


<div class="row">
  <div class="col-md-10">
    <div class="form-group">
    <h3 id="head" class="list-item addBtn"><%favs[i].sporte%>
    <form class="form put-form" action="/favorites">
      <input type="hidden" name="imdbID" value="<%favs[i].sport%>">
      <input type="hidden" name="Title" value="<%=favs[i].time %>">
      <input type="hidden" name="Year" value="<%=favs[i].date%>">
      <input type="hidden" name="Poster" value="<%=favs[i].equipment%>">
    </form>
    </div>
</h3>
<table>
    <div id="Divider" style="height:5px;"><hr /></div>
    <tr>Staring: <%=favs[i].sport%></tr>
    <br>
    <br>
    <tr>Year: <%=favs[i].time%></tr>
    <br><br>
    <tr>Rated: <%=favs[i].date%></tr>
    <br><br>
    <tr>Director: <%=favs[i].equipment%></tr>
    <br><br>
    <tr>Writers: <%=favs[i]comments%></tr>
</div>
</div>
<% include ../partials/footer%>
