<% include ../partials/header%>

<!-- SELECTED GAME PAGE -->
<center>
<h1 style="font-size:34px; margin-top: 20px;">Game Creater: <%=players.name%></h1>
<br>
</center>
<div class="col-md-6">
 <div id="map"></div>
<br>
</div>
<div style:"margin-left:8px;" class="col-md-6 thegame">
<table>
<h1 style="margin-top:5px;"id="gameHeader">Game <%=games.id%> Details:</h1>
      <div id="Divider" style="height:10px;"><hr /></div>
      <tr>Sport: <%=games.sport%></tr>
      <br>
      <tr>Time: <%=games.time%></tr>
      <br>
      <tr>Date: <%=games.date%></tr>
      <br>
      <tr>Equipment: <%=games.equipment%></tr>
      <br>
      <tr>Comments: <%=games.comments%></tr>
  </table>
</div>

<script>
    var myPoints = <%- JSON.stringify(games) %>;
    drawMap(myPoints)
  </script>

<% include ../partials/footer%>
